{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/story.css' %}">
{% endblock %}

{% block title %}유성천 살리기{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">
            <h3>실시간 댓글</h3>
        </div>

        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                                {{ form.commentWindow.errors }}
                                {{ form.commentWindow }}
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.comment.errors }}
                                <label for="{{ form.comment.id_for_label }}">댓글 보내기</label>
                                {{ form.comment }}
                            </div>
                            <button id="chat-message-submit" class="btn btn-success float-right" type="button">보내기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>로그인이 필요합니다.</p>
        <a href="{% url 'account_login' %}">Log In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    <script type="text/javascript">
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/comment');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        document.querySelector('#{{ form.commentWindow.id_for_label }}').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#{{ form.comment.id_for_label }}').focus();
    document.querySelector('#{{ form.comment.id_for_label }}').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#{{ form.comment.id_for_label }}');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
    </script>
{% endblock %}
