{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}유성천 살리기{% endblock title %}

{% block story %}{{ story }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center buttons">
        <a href="{% url 'story' %}" class="Button-a">
            <div class="card ml-3 mr-3 cardButton">
                <!-- Content -->
                <div class="card-body text-center py-5 px-4">
                    <h3 class="card-title"><strong>사연 보내기</strong></h3>
                    <p class="card-text">사연을 보내면 무작위로 추첨해 <br>방송해드립니다.</p>
                </div>
            </div>
        </a>
        <a href="{% url 'comment' %}" class="Button-a">
            <div class="card ml-3 mr-3 cardButton">
                <!-- Content -->
                <div class="card-body text-center py-5 px-4">
                    <h3 class="card-title"><strong>실시간 댓글 보기</strong></h3>
                    <p class="card-text">사연에 대한 생각을 모두와 함께 <br>이야기해보세요.</p>
                </div>
            </div>
        </a>
    </div>
{% endblock content %}


