{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/story.css' %}">
{% endblock %}

{% block title %}유성천 살리기{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">
            <h3>사연 보내기</h3>
        </div>

        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.sender.errors }}
                                <label for="{{ form.sender.id_for_label }}">보내는 사람</label>
                                {{ form.sender }}
                            </div>
                            <div class="form-group">
                                {{ form.title.errors }}
                                <label for="{{ form.title.id_for_label }}">사연 제목</label>
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                {{ form.story.errors }}
                                <label for="{{ form.story.id_for_label }}">사연 내용</label>
                                {{ form.story }}
                            </div>
                            <button class="btn btn-success float-right" type="submit">보내기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>로그인이 필요합니다.</p>
        <a href="{% url 'account_login' %}">Log In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{% endblock %}
