<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
<h1>{{ story }}</h1>
<audio src="{% static story %}" controls="" autoplay preload="auto"></audio>
</body>
</html>
