body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #637381;
    background-color: #f4f6f8;
}

.container {
    width: 100%;
    height: 100vh;
}

.header-box {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

.current-info {
    padding: 5px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    background: black;
}

.current-info > .icon {
    line-height: 24px;
    color: #f4f6f8;
}

.slide-in-text {
    position: relative;
    width: 250px;
    color: #f4f6f8;
    margin-right: 5px;
    overflow: hidden;
}

.slide-in-text > p {
    margin: 0;
    /*display: inline-block;*/
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.icon-button{
    color: #FFFFFF;
}

.icon-button:hover {
    color: #fffccf;
    cursor: pointer;
}
