@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");  /* font-family: 'Roboto'; 400,700 */
@import url("../css/fonts/webfonts_NotoSansKR/webfonts_NotoSansKR.css");    /* font-family: 'Noto Sans KR'; 300,400,500,700,900 */
@import url("../css/fonts/webfonts_NanumSquare/webfonts_NanumSquare.css");  /* font-family:'Nanum Square'; 300,400,700,900 */
@import url("../css/fonts/xeicon/xeicon.min.css");                          /* XEIcon 2.3.3*/
@import url("../css/fonts/webfonts_FishermanDream/webfonts_FishermanDream.css");/* font-family:'FishermanDream';400,700*/



/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: ""
	color: #fff;
	color: rgba(0,0,0,0.5);
	/*(R,G,B,투명도)*/
    /*0은 완전한 투명, 1은 불투명(0~1까지) */
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
}
h1{
	font-size: 4rem;
}
p{
	font-size: 2rem;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5rem;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 4.5px;
	color: #ffffff;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #ffffff;
}
#menu li.active a:hover{
	color: #ebcb1c;
}
#menu li:hover{
	font-weight: bold
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:20px;
	left:1140px;
	height: 36px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }

/* 여백처리
 * --------------------------------------- */
 .padd_T10{ padding-top:10px;}
 .padd_T20{ padding-top:20px;}
 .padd_T30{ padding-top:30px;}
 
 .padd_B10{ padding-bottom:10px;}
 .padd_B20{ padding-bottom:20px;}
 .padd_B30{ padding-bottom:30px;}
 
 .margin_T10{ margin-top:10px;}
 .margin_T20{ margin-top:20px;}
 .margin_T30{ margin-top:30px;}
 
 .margin_B10{ margin-bottom:10px;}
 .margin_B20{ margin-bottom:20px;}
 .margin_B30{ margin-bottom:30px;}