.cardButton {
    /*padding-top: 10%;*/
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 230px;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
}

.buttons {
    margin-top: 300px;
}

.Button-a {
    color: black;
}

.Button-a:hover {
    color: #447e9b;
    text-decoration: none;
}

.cardButton:hover {
    transform: scale(1.04);
    border: none;
}

.cardButton > .card-body > .card-text {
    margin-top: 40px;
}
