@charset "utf-8";
/* CSS Document */


	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 1rem;
		font-weight:bold;
		font-family: "210 썬플라워 R", "210 구름고딕OTF 030", "210 구름고딕OTF 050", "210 굴림OTF 030", "210 굴림OTF 050";
		color: #000;
		margin:0;
		padding:100px;
	}
	
	.header {
    position: fixed;
	width:100%;
    height: 85px;
	background-color: #47248f;
	overflow: hidden;
	z-index: 10;
	}
	.logo { 
	position: fixed;
	/* 로고 센터 정렬 */
	left:10%;
	/* 로고 이미지 사이즈를 적어주고 사이즈를 나누기 한 수치만큼 좌측으로 빼준다. */
	width: 500px;
    margin-left: -100px;
	padding-top:15px;
	overflow: hidden;
	z-index: 100;
	}
	

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
.section{
		background-size: cover;
	}
.slide{	
        background-size: cover;
	}
	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image:url(../images/bg1.jpg)
	}
	#section0 h1{
        top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section1{
		background-image: url(../images/bg2.jpg);
		padding: 6% 0 0 0;
	}
	
	#section2{
		background-image: url(../images/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(../images/bg4.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}


	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(../images/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-color:#F90;
		padding: 6% 0 0 0;
	}


	
