<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>유성천 살리기</title>
    <style type="text/css">
        body {
            margin: 0px;
        }
    </style>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'fullpage/fullpage.css' %}" />


    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
        }

        function MM_findObj(n, d) { //v4.01
            var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
                d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
            if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
            for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
            if(!x && d.getElementById) x=d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
                if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }

        function hover(element) {
            element.setAttribute('src', "{% static 'images/bg4_1.jpg' %}");
        }

        function unhover(element) {
            element.setAttribute('src', "{% static 'images/bg4.jpg' %}");
        }
    </script>
</head>
<body>

<div>
    <div id="fullpage">
        <div class="section">
            <map name="Map2">
                <area shape="rect" coords="456,45,591,124" href="{% url 'home' %}">
                <area shape="rect" coords="1215,70,1286,116" href="{% url 'main' %}">
                <area shape="rect" coords="1322,67,1456,116" href="{% url 'main' %}">
            </map>
            <img src="{% static 'images/bg1.jpg' %}" alt="" width="100%" height="100%" usemap="#Map2"/>
            <img src="{% static 'images/Untitled-3.gif' %}" style="position: absolute; top: 940px; left: 927px; width:63px; height:96px"/>
            <img src="{% static 'images/logo_01.png' %}" alt="" height="37" style="position: absolute; top: 47px; left: 462px;width:999px;"/>
        </div>
        <div class="section">
            <div class="slide active" id="slide1">
                <div class="intro">
                    <img src="{% static 'images/bg2.jpg' %}" alt="" width="100%" height="100%" id="Image2"/>
                </div>
            </div>
            <div class="slide" id="slide2">
                <div class="intro">
                    <img src="{% static 'images/bg3.jpg' %}" alt="" width="100%" height="100%" id="Image3"/>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="myContent">
                <img src="{% static 'images/bg4.jpg' %}" alt="" width="100%" height="100%" usemap="#Map" id="Image1" />
                <map name="Map">
                    <area shape="rect" coords="436,175,1495,1082" href="{% url 'main' %}"
                          onmouseover="hover(document.getElementById('Image1'))" onmouseout="unhover(document.getElementById('Image1'))">
                </map>
            </div>
        </div>
        <div class="section fp-auto-height">
            <div class="footer" style="width: 100%; height:10vh; background: url('../static/images/underbar.jpg'); background-size: cover;">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'fullpage/fullpage.js' %}" ></script>
<script type="text/javascript">
    new fullpage('#fullpage', {
        //options here
        autoScrolling:true,
        scrollHorizontally: true
    });
</script>
</body>
</html>
