@charset "utf-8";
/* Web Standardization Team, Author:JongWoon,LEE 2017.08.30 */

/* Webfont: FishermanDream */
@font-face {
	font-family: 'FishermanDream';
	font-style: normal;
	font-weight: 400;
	src: url('./FishermanDream/FishermanDream.eot');
	src: local("※"),url('./FishermanDream/FishermanDream.eot?#iefix') format('embedded-opentype'),url('./FishermanDream/FishermanDream.woff') format('woff'),url(./FishermanDream/FishermanDream.ttf) format('truetype'),url(./FishermanDream/FishermanDream.svg#FishermanDream) format('svg');
}
@font-face {
	font-family: 'FishermanDream';
	font-style: normal;
	font-weight: 700;
	src: url('./FishermanDream/FishermanDreamBold.eot');
	src: local("※"),url('./FishermanDream/FishermanDreamBold.eot?#iefix') format('embedded-opentype'),url('./FishermanDream/FishermanDreamBold.woff') format('woff'),url(./FishermanDream/FishermanDreamBold.ttf) format('truetype'),url(./FishermanDream/FishermanDreamBold.svg#FishermanDreamBold) format('svg');
}